.customer-dashboard {
  width: 100%;
  padding: 20px 30px;
  height: 100%;
}

.officer-list {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 100px;
  flex: 1;
  height: 120px;
}
.officer-list * {
  display: flex;
  align-items: center;
  text-align: center;
}

.officer-list .add-btn {
  background-color: #32cd32;
  padding: 14px 4px;
}
